{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %} 
<div class="p-5 bg-light" style="margin: 20px;">
    <div class="container">
        <h1 class="display-3">Bienvenidos a Aprendamos de Programacion</h1>
        <hr class="my-2">
        <p style="margin-top:20px;">En este Sitio web Aprenderemos un poco sobre todo lo relacionado con el mundo de la programacion brindaremos conocimiento sobre lenguajes, rutas de aprendizaje, y 
            algunos conceptos que debes tener en cuenta a la hora iniciar tu aprendizaje en programacion.
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'lenguajes' %}" role="button">Comenzar</a>
        </p>
    </div>
</div>

{% endblock %}

