{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %}
<div class="p-5 bg-light" style="margin-top: 20px;margin-bottom:20px ;">

    <div class="container">

        <h1 class="display-3">librerías y frameworks</h1>
        <hr class="my-2">
        <p>En primer lugar, es necesario poner de relieve sus diferencias. A menudo, librería (biblioteca) y framework
            se usan erróneamente como sinónimos. Aun cuando la transmisión se lleva a cabo de manera fluida en muchos
            aspectos, existen diferencias sustanciales entre ambos.</p>
        <p>En el ámbito de la programación, el término librería hace referencia a una librería de programas,
            independientementede si contiene clases o componentes o se trata de otro tipo de librería. Las librerías de
            programas siempre alojan subprogramas que facilitan la programación gracias a sus funciones de ayuda.</p>
        <p>Un framework, que en inglés significa infraestructura o armazón, no es un programa autónomo, sino más bien un
            tipo especial de biblioteca de clases. Los frameworks representan la arquitectura de software (el marco) de
            una aplicación y determinan fundamentalmente el proceso de desarrollo. Los frameworks poseen unos modelos
            concretos de desarrollo que, a su vez, cuentan con diversas funciones (a menudo en forma de varias
            librerías) y sirven para desarrollar aplicaciones nuevas e independientes. </p>

        <h4>jQuery</h4>
        <hr class="my-2">
        <p>jQuery es la más utilizada de todas las librerías JavaScript. Esto se debe, entre otras razones, a que
            posibilita
            la escritura de código jQuery en cualquier tipo de navegador y que para ello existen numerosos
            plugins.jQuery se
            utiliza sobre todo como una práctica interfaz de DOM y ofrece numerosas funciones</p>

        <h4>React</h4>
        <hr class="my-2">
        <p>React fue utilizada por primera vez en 2011 en el newsfeed de Facebook. En 2013 se publicó como una librería
            JavaScript de código abierto para crear interfaces de usuario. Lo característico de React es que no solo se
            puede utilizar en clientes de páginas web, sino también en el servidor o durante el desarrollo de
            aplicaciones. Esto se atribuye al uso de un DOM virtual, lo que también facilita el análisis de aplicaciones
            web. </p>
        <h4>Angular</h4>
        <hr class="my-2">
        <p>Angular es un framework Javascript potente, muy adecuado para el desarrollo de aplicaciones frontend
            modernas, de complejidad media o elevada. El tipo de aplicación Javascript que se desarrolla con Angular es
            del estilo SPA (Single Page Application) o también las denominadas PWA (Progressive Web App).
            El framework Angular ofrece una base para el desarrollo de aplicaciones robustas, escalables y optimizadas,
            que promueve además las mejores prácticas y un estilo de codificación homogéneo y de gran modularidad.</p>
    </div>


</div>
{% endblock %}